<!DOCTYPE html>
<html>

<head>
	<title>Home Page</title>
	
	<style type="text/css" media="screen">
		body {
			background-color: skyblue;
			text-decoration-color: white;
			
		}
	</style>
</head>

<body>
	<div><h1>Avinash dhanani</h1>This is our home page.</div>
</body>

</html>
